## Custom styles
##
## idp.styles.background-color (Default: #ECEFF1)
## idp.styles.link-color (Default: #1534E3)
## idp.styles.button-color (Default: #1534E3)
## idp.styles.button-hover-color (Default: #1A237E)
## idp.styles.body-color (Default: #32424A)
## idp.styles.message-color (Default: #7A2D00)
## idp.styles.error-color (Default: #B50024)
## idp.styles.success-color (Default: #1C7D40)
## idp.styles.inactive-color (Default: #999999)
##
<style>
body, hr {
	background-color: #springMessageText("idp.styles.background-color", "#ECEFF1");
}
main section + section {
  border-top: 1px solid #springMessageText("idp.styles.background-color", "#ECEFF1");
}
header {
	border-bottom: 1px solid #springMessageText("idp.styles.background-color", "#ECEFF1");
}
input[type="text"]:read-only, 
input[type="email"]:read-only, 
input[type="password"]:read-only, 
input[type="telephone"]:read-only,
input[type="tel"]:read-only, 
input[type="url"]:read-only, 
textarea:read-only, 
select:read-only, 
input[type="text"]:disabled, 
input[type="email"]:disabled, 
input[type="password"]:disabled, 
input[type="telephone"]:disabled, 
input[type="tel"]:disabled, 
input[type="url"]:disabled, 
textarea:disabled, 
select:disabled {
  background-color: #springMessageText("idp.styles.background-color", "#ECEFF1");
}

a[href], a[href]:hover, a[href]:active, a[href]:focus {
	color: #springMessageText("idp.styles.link-color", "#1534E3");
}
ul li:before {
	background-color: #springMessageText("idp.styles.link-color", "#1534E3");
}
label:focus {
	color: #springMessageText("idp.styles.link-color", "#1534E3");
}
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="telephone"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
textarea:focus, 
select:focus,
input[type="text"]:active, 
input[type="email"]:active, 
input[type="password"]:active, 
input[type="telephone"]:active, 
input[type="tel"]:active, 
input[type="url"]:active, 
textarea:active, 
select:active {
	border-color: #springMessageText("idp.styles.link-color", "#1534E3");
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label,
input[type="checkbox"]:focus + label, input[type="radio"]:focus + label {
  color: #springMessageText("idp.styles.link-color", "#1534E3");
}
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before,
input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
  border-color: #springMessageText("idp.styles.link-color", "#1534E3");
}
input[type="checkbox"] + label:after {
	border: solid #springMessageText("idp.styles.link-color", "#1534E3");
}
input[type="radio"] + label:after {
  background-color: #springMessageText("idp.styles.link-color", "#1534E3");
}
button, input[type=button], input[type=submit], a.button, .button {
  background-color: #springMessageText("idp.styles.link-color", "#1534E3");
  border: 4px solid #springMessageText("idp.styles.link-color", "#1534E3");
}
button.button--secondary, 
input[type=button].button--secondary, 
input[type=submit].button--secondary, 
a.button.button--secondary, 
.button.button--secondary {
  background-color: transparent;
  border-color: #springMessageText("idp.styles.link-color", "#1534E3");
  color: #springMessageText("idp.styles.link-color", "#1534E3");
}

button:hover, 
input[type=button]:hover, 
input[type=submit]:hover, 
a.button:hover, 
.button:hover, 
button:focus, 
input[type=button]:focus, 
input[type=submit]:focus, 
a.button:focus, 
.button:focus {
  background: #springMessageText("idp.styles.button-hover-color", "#1A237E");
  color: #fff !important;
  text-decoration: none !important;
  border-color: #springMessageText("idp.styles.button-hover-color", "#1A237E");
}
button.button--secondary:hover, 
input[type=button].button--secondary:hover, 
input[type=submit].button--secondary:hover, 
a.button.button--secondary:hover, 
.button.button--secondary:hover,
button.button--secondary:focus, 
input[type=button].button--secondary:focus, 
input[type=submit].button--secondary:focus, 
a.button.button--secondary:focus, 
.button.button--secondary:focus {
  background: #springMessageText("idp.styles.button-hover-color", "#1A237E");
  border-color: #springMessageText("idp.styles.button-hover-color", "#1A237E");
}

body {
  color: #springMessageText("idp.styles.body-color", "#32424A");
}
label {
  color: #springMessageText("idp.styles.body-color", "#32424A");
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="telephone"], 
input[type="tel"], 
input[type="url"], 
textarea, 
select {
  border: 2px solid #springMessageText("idp.styles.body-color", "#32424A");
  color: #springMessageText("idp.styles.body-color", "#32424A");
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  border: 2px solid #springMessageText("idp.styles.body-color", "#32424A");
}


.output-message {
  color: #springMessageText("idp.styles.message-color", "#7A2D00");
}

.output-message.output--error {
  color: #springMessageText("idp.styles.error-color", "#B50024");
}
fieldset .error {
  color: #springMessageText("idp.styles.error-color", "#B50024");
}
input[type="text"].error, 
input[type="email"].error, 
input[type="password"].error, 
input[type="telephone"].error, 
input[type="tel"].error, 
input[type="url"].error, 
textarea.error, 
select.error {
  border-color: #springMessageText("idp.styles.error-color", "#B50024");
}

.output-message.output--success {
  color: #springMessageText("idp.styles.success-color", "#1C7D40");
}

button.button--secondary:disabled, 
input[type=button].button--secondary:disabled, 
input[type=submit].button--secondary:disabled, 
a.button.button--secondary:disabled, 
.button.button--secondary:disabled {
  color: #springMessageText("idp.styles.inactive-color", "#999999");
}
button:disabled, 
input[type=button]:disabled, 
input[type=submit]:disabled, 
a.button:disabled, 
.button:disabled {
  background-color: #springMessageText("idp.styles.inactive-color", "#999999");
  border-color: #springMessageText("idp.styles.inactive-color", "#999999");
}
</style>