##
## Velocity Template for error end-state
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse

#if ($flowRequestContext)
    #set ($eventId = $flowRequestContext.getCurrentEvent().getId())
    #set ($springContext = $flowRequestContext.getFlowExecutionContext().getActiveSession().getDefinition().getApplicationContext())
    #set ($locale = $flowRequestContext.getExternalContext().getLocale())
    #set ($eventKey = $springContext.getMessage($eventId, null, "error", $locale))
    #set ($titleSuffix = $springContext.getMessage("${eventKey}.title", null, "Error", $locale))
    #set ($message = $springContext.getMessage("${eventKey}.message", null, "ERROR: $eventId", $locale))
    
    #if ($eventId == "AccessDenied")
        $response.setStatus(403)
    #end
#elseif ($exception)
    #set ($eventId = $exception.getClass().getSimpleName())
    #set ($eventKey = $springContext.getMessage($eventId, null, "error", $request.getLocale()))
    #set ($titleSuffix = $springContext.getMessage("${eventKey}.title", null, "Error", $request.getLocale()))
    #set ($message = $springContext.getMessage("${eventKey}.message", null, "ERROR: $eventId", $request.getLocale()))
#else
    #set ($titleSuffix = "Error")
    #set ($message = "No specific error available")
#end

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<title>Web Login Service - $titleSuffix</title>
    	<link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
  	</head>
  	
  	<body>
    <div class="wrapper">
    	<div class="container">
        	<header>
				<img src="$request.getContextPath()/images/dummylogo.png" alt="Replace or remove this logo"/>
				<h3>Web Login Service - $titleSuffix</h3>
			</header>
		
        	<div class="content">
            #evaluate($message)
            </div>
    	</div>

      	<footer>
        	<div class="container container-footer">
          		<p class="footer-text">Insert your footer text here.</p>
        	</div>
      	</footer>
      	
    </div>
    </body>
</html>