##
## Velocity Template for error end-state
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <body>
    
    <h2>ERROR</h2>

    #set ($encoder = $flowRequestContext.getRequestScope().get('encoder'))
    #set ($errorEventContext = $flowRequestContext.getRequestScope().get('errorEventContext'))

    #if ( $errorEventContext && $errorEventContext.getEvent() )
            <p>ERROR: $encoder.encodeForHTML($errorEventContext.getEvent().toString())</p>
    #end
        
    </body>
</html>