##
## Velocity Template for error end-state
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse

#set ($springContext = $flowRequestContext.getActiveFlow().getApplicationContext())
#set ($locale = $flowRequestContext.getExternalContext().getLocale())
#set ($title = $springContext.getMessage("idp.title", null, "Web Login Service", $locale))
#set ($footer = $springContext.getMessage("idp.footer", null, "Insert your footer text here.", $locale))
#set ($logoAltText = $springContext.getMessage("idp.logo.alt-text", null, "logo", $locale))
#set ($defaultTitleSuffix = $springContext.getMessage("idp.title.suffix", null, "Error", $locale))

#if ($flowRequestContext)
	## This handles flow events, the most common case.
    #set ($eventId = $flowRequestContext.getCurrentEvent().getId())
    #set ($eventKey = $springContext.getMessage($eventId, null, "error", $locale))
    #set ($titleSuffix = $springContext.getMessage("${eventKey}.title", null, $defaultTitleSuffix, $locale))
    #set ($message = $springContext.getMessage("${eventKey}.message", null, "$defaultTitleSuffix: $eventId", $locale))
    
    #if ($eventId == "AccessDenied" or $eventId == "ContextCheckDenied")
        $response.setStatus(403)
    #elseif ($eventId == "UnableToDecode")
        $response.setStatus(400)
    #else
        $response.setStatus(500)
    #end
#elseif ($exception)
	## This handles exceptions that reach the Spring-MVC exception handler.
    #set ($eventId = $exception.getClass().getSimpleName())
    #set ($eventKey = $springContext.getMessage($eventId, null, "error", $request.getLocale()))
    #set ($titleSuffix = $springContext.getMessage("${eventKey}.title", null, $defaultTitleSuffix, $request.getLocale()))
    #set ($message = $springContext.getMessage("${eventKey}.message", null, "$defaultTitleSuffix: $eventId", $request.getLocale()))
#else
	## This is a catch-all that theoretically shouldn't happen?
    #set ($titleSuffix = $defaultTitleSuffix)
    #set ($message = $springContext.getMessage("idp.message", null, "An unidentified error occurred.", $locale))
#end

<html>
  	<head>
    	<meta charset="utf-8" />
    	<title>$title - $titleSuffix</title>
    	<link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
  	</head>
  	
  	<body>
    <div class="wrapper">
    	<div class="container">
        	<header>
				<img src="$request.getContextPath()/images/dummylogo.png" alt="$logoAltText"/>
				<h3>$title - $titleSuffix</h3>
			</header>
		
        	<div class="content">
            #evaluate($message)
            </div>
    	</div>

      	<footer>
        	<div class="container container-footer">
          		<p class="footer-text">$footer</p>
        	</div>
      	</footer>
      	
    </div>
    </body>
</html>