##
## Velocity Template for expiring password view
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse

<html>
    <head>
        <meta charset="utf-8" />
        <title>Web Login Service</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
        <meta http-equiv="refresh" content="20;url=$flowExecutionUrl&_eventId_proceed=1"/>
    </head>
      
    <body>
      <div class="wrapper">
        <div class="container">
            <header>
                <img src="$request.getContextPath()/images/dummylogo.png" alt="Replace or remove this logo"/>
                <h3>Your password will be expiring soon!</h3>
            </header>
        
            <div class="content">
                <p>To create a new password now, go to
                <strong><a href="#" target="_blank">#</a></strong>
                (a new window will open).</p>
                <p>Your login will proceed in 20 seconds or you may click
                <strong><a href="$flowExecutionUrl&_eventId_proceed=1">here</a></strong> to continue.</p>
            </div>
        </div>

        <footer>
            <div class="container container-footer">
                  <p class="footer-text">Insert your footer text here.</p>
            </div>
        </footer>
          
      </div>
    </body>
</html>