##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<title>Example Login Page</title>
    	<link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
  	</head>

  	<body>
    <div class="wrapper">
      <div class="container">
        <header>
          <a class="logo" href="../images/dummylogo.png"><img src="$request.getContextPath()/images/dummylogo.png" alt="Replace or remove this logo"/></a>
        </header>

        <div class="content">
          <div class="column one">
            <form action="$flowExecutionUrl" method="post">

				#if ( $authenticationErrorContext && $authenticationErrorContext.getExceptions().size() > 0 )
						<p>ERROR: $encoder.encodeForHTML($authenticationErrorContext.getExceptions().get(0).getMessage())</p>
				#end
				
				#if ( $authenticationErrorContext && $authenticationErrorContext.getClassifiedErrors().size() > 0 )
				        <p>Classified errors: $encoder.encodeForHTML($authenticationErrorContext.getClassifiedErrors().toString())</p>
				#end
				        
				#if ( $authenticationWarningContext && $authenticationWarningContext.getClassifiedWarnings().size() > 0 )
				        <p>Classified warnings: $encoder.encodeForHTML($authenticationWarningContext.getClassifiedWarnings().toString())</p>
				#end

              <legend>
                <!-- Log in to TODO: SP UI info -->
              </legend>

              <section>
                <Label for="username">Username</label>
                <input class="form-element form-field" name="j_username" type="text" value="">
              </section>

              <section>
                <label for="password">Password</label>
                <input class="form-element form-field" name="j_password" type="password" value="">
              </section>

              <section>
                <input type="checkbox" name="donotcache" value="1" /> Don't Remember Login
              </section>
              
              <section>
                <button class="form-element form-button" type="submit" name="_eventId_proceed" >Login</button>
              </section>
            </form>

			<!-- TODO: SP UI info -->            

          </div>
          <div class="column two">
            <ul class="list list-help">
              <li class="list-help-item"><a href="#"><span class="item-marker">&rsaquo;</span> Forgot your password?</a></li>
              <li class="list-help-item"><a href="#"><span class="item-marker">&rsaquo;</span> Need Help?</a></li>
              <li class="list-help-item"><a href="https://wiki.shibboleth.net/confluence/display/SHIB2/IdPAuthUserPassLoginPage"><span class="item-marker">&rsaquo;</span> How to Customize this Skin</a></li>
            </ul>
          </div>
        </div>
      </div>

      <footer>
        <div class="container container-footer">
          <p class="footer-text">Insert your footer text here.</p>
        </div>
      </footer>
    </div>
    
 	</body>
</html>