##
## Velocity Template for error end-state
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<title>Web Login Service - Unsupported Request</title>
    	<link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
  	</head>

  	<body>
    <div class="wrapper">
    	<div class="container">
        	<header>
				<img src="$request.getContextPath()/images/dummylogo.png" alt="Replace or remove this logo"/>
				<h3>Web Login Service - Unsupported Request</h3>
			</header>
		
        	<div class="content">
        		<p>The application you have accessed is not registered for use with this service.</p>
    		</div>
    	</div>

      	<footer>
        	<div class="container container-footer">
          		<p class="footer-text">Insert your footer text here.</p>
        	</div>
      	</footer>

    </div>
    </body>

</html>