##
## Velocity Template for Status Reporting flow
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## request - HttpServletRequest
## response - HttpServletResponse
## runtime - java.lang.Runtime.getRuntime()
## System - java.lang.System class
## Version - net.shibboleth.idp.Version class
## startupTime - Spring context startup as DateTime
## now - current DateTime
## dateTimeFormatter - formatter for DateTime toString method
#set ($header = "#")
$header$header$header Operating Environment Information
operating_system: $System.getProperty("os.name")
operating_system_version: $System.getProperty("os.version")
operating_system_architecture: $System.getProperty("os.arch")
jdk_version: $System.getProperty("java.version")
available_cores: $runtime.availableProcessors()
#set ($used = $runtime.totalMemory() / 1048576)
used_memory: $used MB
#set ($max = $runtime.maxMemory() / 1048576)
maximum_memory: $max MB

$header$header$header Identity Provider Information
idp_version: $Version.getVersion()
start_time: $startupTime.toString($dateTimeFormatter)
current_time: $now.toString($dateTimeFormatter)
#set ($uptime = $now.getMillis() - $startupTime.getMillis()) 
uptime: $uptime ms

$response.setContentType("text/plain")