#include("cas/header.vm")
  <cas:authenticationSuccess>
    <cas:user>$escapeUtils.escapeXml($ticketValidationResponse.userName)</cas:user>
    #if($ticketValidationResponse.pgtIou)
      <cas:proxyGrantingTicket>$escapeUtils.escapeXml($ticketValidationResponse.pgtIou)</cas:proxyGrantingTicket>
    #end
    #if(!$ticketValidationResponse.attributes.isEmpty())
      <cas:attributes>
        #foreach($attr in $ticketValidationResponse.attributes)
          #foreach($value in $$attr.values)
            <cas:$escapeUtils.escapeXml($attr.name)>$escapeUtils.escapeXml($value)</cas:$escapeUtils.escapeXml($attr.name)>
          #end
        #end
      </cas:attributes>
    #end
    #if($ticketValidationResponse.proxies.size() > 0)
      <cas:proxies>
        #foreach($proxy in $ticketValidationResponse.proxies)
          <cas:proxy>$escapeUtils.escapeXml($proxy)</cas:proxy>
        #end
      </cas:proxies>
    #end
  </cas:authenticationSuccess>
#include("cas/footer.vm")
