<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite.consent" verbose="2">
    <parameter name="consent.schema" value="classpath:/schema.sql" />    
    
    <test name="consent" enabled="true">  
        <packages>       
            <package name="edu.internet2.middleware.shibboleth.idp.consent"/>
        </packages>
    </test>
    
    <test name="consent.storage">  
        <packages>       
            <package name="edu.internet2.middleware.shibboleth.idp.consent.storage"/>
        </packages>
    </test>

</suite>