##
## Velocity Template for DisplayAttributeReleaseConsentPage view-state
##
## Velocity context will contain the following properties :
##
## TODO This is only a rudimentary UI.
#set ($locale = $flowRequestContext.getExternalContext().getLocale())
#if ($enablePerAttributeConsent)
    #set ($inputType = "checkbox")
#else
    #set ($inputType = "hidden")
#end
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <title>#springMessageText("idp.attribute-consent.title" "Attribute Consent")</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <header>
                    <a class="logo" href="../images/dummylogo.png">
                        <img src="$request.getContextPath()/images/dummylogo.png" alt="Replace or remove this logo"/>
                    </a>
                </header>
                <div class="content" >
                    <form action="$flowExecutionUrl" method="post"  >
                        <table>
                            #foreach($attribute in $attributeConsentContext.getConsentableAttributes().values())
                                <tr>
                                    <td>$attributeDisplayNameFunction.apply($attribute)</td>
                                    <td>$attribute.values</td>
                                    <td>
                                        <input type="$inputType" name="consentIds" value="$encoder.encodeForHTML($attribute.id)" checked />
                                    </td>
                                </tr>
                            #end
                        </table>
                        <p>
                            <input type="radio" name="_idp_consentOptions" value="_idp_alwaysRequireConsent" />
                            #springMessageText("idp.attribute-consent.alwaysRequireConsent" "Ask me again at next login")
                        </p>
                        <p>
                            <input type="radio" name="_idp_consentOptions" value="_idp_rememberConsent" checked />
                            #springMessageText("idp.attribute-consent.rememberConsent" "Only ask me again if data changes")
                        </p>
                        #if ($allowGlobalConsent)
                            <p>
                                <input type="radio" name="_idp_consentOptions" value="_idp_globalConsent" />
                                #springMessageText("idp.attribute-consent.globalConsent" "Do not ask me again")
                            </p>
                        #end
                        <section>
                            <button class="form-element form-button" type="submit" name="_eventId_proceed" >#springMessageText("idp.attribute-consent.submit" "Submit")</button>
                        </section>
                    </form>
                </div>
            </div>
            <footer>
                <div class="container container-footer">
                    <p class="footer-text">Insert your footer text here.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
