##
## Velocity Template for DisplayAttributeReleaseConsentPage view-state
##
## Velocity context will contain the following properties :
##
## TODO This is only a rudimentary UI.
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <title>#springMessageText("idp.tou.title" "Terms Of Use")</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <header>
                    <a class="logo" href="../images/dummylogo.png">
                        <img src="$request.getContextPath()/images/dummylogo.png" alt="Replace or remove this logo"/>
                    </a>
                </header>
                <div class="content" >
                    <div id="tou-content">
                        $termsOfUseContext.getTermsOfUse().getText()
                    </div>
                    <form action="$flowExecutionUrl" method="post"  >
                        <table>
                            #foreach($termsOfUseId in $consentContext.getConsentChoices().keySet())
                                #set($serializedValue = ${consentContext.getConsentChoices().get($termsOfUseId).getSecond()} )
                                #set($encodedValue = $encoder.encodeForHTML($serializedValue) )
                                <input type="hidden" name="consents" value="${encodedValue}" />
                            #end
                        </table>
                            ## #if ($globalConsentEnabled)
                            ## <input type="checkbox" name="consent.global"> value="yes" />
                            ## #springMessage("attribute-release.global-consent")
                            ## #endif
                            <section>
                                <button class="form-element form-button" type="submit" name="_eventId_proceed" >#springMessageText("idp.tou.submit" "Submit")</button>
                            </section>
                    </form>
                </div>
            </div>
            <footer>
                <div class="container container-footer">
                    <p class="footer-text">Insert your footer text here.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
