<html>
    <head>
        <title>Local Storage Test View</title>
        <script>
            #include( "local-storage-test/local-storage-display.js" )
        </script>
    </head>
    <body onload="localStorageGetItem('$localStorageKey')">
        <table>
            <tr>
                <td>localStorageException</td>
                <td>
                    <p id="localStorageException">
                        <textarea>$!localStorageException</textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>localStorageKey</td>
                <td>
                    <p id="localStorageKey">
                        <textarea>$!localStorageKey</textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>localStorageSuccess</td>
                <td>
                    <p id="localStorageSuccess">
                        <textarea>$!localStorageSuccess</textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>localStorageSupported</td>
                <td>
                    <p id="localStorageSupported">
                        <textarea>$!localStorageSupported</textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>localStorageValue</td>
                <td>
                    <p id="localStorageValue">
                        <textarea>$!localStorageValue</textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>localStorageGetItem</td>
                <td>
                    <p id="localStorageGetItem" />
                </td>
            </tr>
            <tr>
                <td>localStorageVersion</td>
                <td>
                    <p id="localStorageVersion">
                        <textarea>$!localStorageVersion</textarea>
                    </p>
                </td>
            </tr>
        </table>
    </body>
    <a href="/">Home</a>
</html>
