<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-init-method="initialize" default-destroy-method="destroy">

	<!-- I expect this to be somewhere user changeable, but with property replacement 
		for the defaults -->

	<bean class="net.shibboleth.idp.ui.context.RelyingPartyUIData" id="ServiceDescription"
		scope="prototype" p:defaultData="The user defined default data" />

	<!-- put this 'somewhere' and inject into the flow where we construct the -->
	<bean class="net.shibboleth.idp.ui.context.SAMLRelyingPartyUIInformation"
		id="ServiceUIContext" scope="prototype" p:serviceDescription-ref="ServiceDescription" />
</beans>
