<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-init-method="initialize" default-destroy-method="destroy">

	<context:property-placeholder
		location="classpath:/net/shibboleth/idp/profile/spring/relyingparty/file.properties" />

	<!-- This BeanPostProcessor auto-sets identifiable beans with the bean name 
		(if not already set). -->
	<bean class="net.shibboleth.ext.spring.config.IdentifiableBeanPostProcessor" />

	<!-- The profile defaults. Firstly the artifact and InbouldFlowId parameters -->

    <!--  SAML2 -->
	<bean id="shibboleth.SAML2.Artifact.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/Artifact" />
	<bean id="shibboleth.SAML2.Artifact.ArtifactServiceIndex" class="java.lang.String"
		c:_0="4321" />
    <bean id="shibboleth.SAML2.Artifact.InboundFlowId" class="java.lang.String"
        c:_0="SecurityPolicy.SAML2ArtifactQuery" /><!-- TODO -->
		
	<bean id="shibboleth.SAML2.Logout.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/Logout" />
	<bean id="shibboleth.SAML2.Logout.ArtifactServiceIndex" class="java.lang.String"
		c:_0="3214" />
    <bean id="shibboleth.SAML2.Logout.InboundFlowId" class="java.lang.String"
        c:_0="SecurityPolicy.SAML2Logout" /><!-- TODO -->

	<bean id="shibboleth.SAML2.AttributeQuery.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/AttributeQuery" />
	<bean id="shibboleth.SAML2.AttributeQuery.ArtifactServiceIndex" class="java.lang.String"
		c:_0="2143" />
    <bean id="shibboleth.SAML2.AttributeQuery.InboundFlowId" class="java.lang.String"
        c:_0="security-policy/soap" />

	<bean id="shibboleth.SAML2.BrowserSSO.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/SSO" />
	<bean id="shibboleth.SAML2.BrowserSSO.ArtifactServiceIndex" class="java.lang.String"
		c:_0="1111" />
    <bean id="shibboleth.SAML2.BrowserSSO.InboundFlowId" class="java.lang.String"
        c:_0="security-policy/saml2-sso" />
		
	<bean id="shibboleth.SAML2.ECP.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/ECP" />
	<bean id="shibboleth.SAML2.ECP.ArtifactServiceIndex" class="java.lang.String"
		c:_0="2222" />
    <bean id="shibboleth.SAML2.ECP.InboundFlowId" class="java.lang.String"
        c:_0="SecurityPolicy.SAML2ECP" />

    <!--  SAML2 - Liberty -->
    <bean id="shibboleth.SAML2.SSOS.InboundFlowId" class="java.lang.String"
        c:_0="security-policy/saml2-ssoS" />

    <!--  SAML1 -->
	<bean id="shibboleth.SAML1.Artifact.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/Artifact/SAML1" />
	<bean id="shibboleth.SAML1.Artifact.ArtifactServiceIndex" class="java.lang.String"
		c:_0="43210" />
    <bean id="shibboleth.SAML1.Artifact.InboundFlowId" class="java.lang.String"
        c:_0="SecurityPolicy.SAML1ArtifactQuery" /><!-- TODO -->
		
	<bean id="shibboleth.SAML1.AttributeQuery.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/AttributeQuery/SAML1" />
	<bean id="shibboleth.SAML1.AttributeQuery.ArtifactServiceIndex" class="java.lang.String"
		c:_0="432100" />
    <bean id="shibboleth.SAML1.AttributeQuery.InboundFlowId" class="java.lang.String"
        c:_0="security-policy/soap" />
		
	<bean id="shibboleth.SAML1.BrowserSSO.ArtifactServiceURL" class="java.lang.String"
		c:_0="https://idp.example.org/SSO/SAML1" />
	<bean id="shibboleth.SAML1.BrowserSSO.ArtifactServiceIndex" class="java.lang.String"
		c:_0="1111" />
    <bean id="shibboleth.SAML1.BrowserSSO.InboundFlowId" class="java.lang.String"
        c:_0="security-policy/shibboleth-sso" />
		

	<!-- And the default security Policy -->

	<util:map id="shibboleth.default.security.configuration.map">
		<!-- SAML1 -->
		<entry key="http://shibboleth.net/ns/profiles/saml1/query/artifact">
			<bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
		</entry>
		<entry key="http://shibboleth.net/ns/profiles/saml1/query/attribute">
			<bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
		</entry>
		<entry key="http://shibboleth.net/ns/profiles/saml1/sso/browser">
			<bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
		</entry>

        <!-- SAML2 -->
        <entry key="http://shibboleth.net/ns/profiles/saml2/query/artifact">
            <bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
        </entry>
        <entry key="http://shibboleth.net/ns/profiles/saml2/query/attribute">
            <bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
        </entry>
        <entry key="http://shibboleth.net/ns/profiles/saml2/sso/browser">
            <bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
        </entry>
        <entry key="http://shibboleth.net/ns/profiles/saml2/sso/ecp">
            <bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
        </entry>
        
        <entry key="http://shibboleth.net/ns/profiles/liberty/ssos">
            <bean class="net.shibboleth.idp.profile.config.SecurityConfiguration" />
        </entry>

	</util:map>

	<bean id="shibboleth.ParserPool"
		class="net.shibboleth.utilities.java.support.xml.BasicParserPool"
		p:maxPoolSize="100" p:coalescing="true" p:ignoreComments="true"
		p:ignoreElementContentWhitespace="true" p:namespaceAware="true" />


	<bean id="myParserPool"
		class="net.shibboleth.utilities.java.support.xml.BasicParserPool"
		p:maxPoolSize="1000" p:coalescing="true" p:ignoreComments="true"
		p:ignoreElementContentWhitespace="true" p:namespaceAware="true" />

	<bean id="shibboleth.TaskTimer" class="java.util.Timer"
		destroy-method="cancel" /> <!-- only needed if you do reloading -->

	<bean id="shibboleth.SchemaBuilder" class="org.opensaml.saml.common.xml.SAMLSchemaBuilder"
		c:ver="SAML_11" />

</beans>
                            