##
## Velocity Template for Attended Startup Unlock Utility
##
## Velocity context will contain the following properties:
## flowRequestContext - the Spring Web Flow RequestContext
## request - HttpServletRequest
## response - HttpServletResponse
## profileRequestContext
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($title = $springMacroRequestContext.getMessage("idp.title", "Web Login Service"))
#set ($titleSuffix = $springMacroRequestContext.getMessage("idp.unlock-keys.title", "Attended Restart Key Unlock"))
#set ($eventId = $profileRequestContext.getSubcontext("org.opensaml.profile.context.EventContext").getEvent())
#set ($state = $flowRequestContext.getCurrentState().getId())
$response.setHeader("Content-Security-Policy", "script-src 'none'")
<!DOCTYPE html>
<html>
    <head>
        <title>$title - $titleSuffix</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css")" media="all">
    </head>
    
    <body>
        <main class="main">
            <header>
                <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png")" alt="#springMessageText("idp.logo.alt-text", "logo")" />
            </header>

            <section>
            #if ($state == "end")
                <p>#springMessageText("idp.unlock-keys.complete", "The system is unlocked and ready for use.")</p>
                <p><a href="$request.getContextPath()/profile/SAML2/Unsolicited/SSO?providerId=https://sp.example.org/shibboleth">Validation Link</a></p>
            #else
                #if ($eventId == "InvalidMessage")
                    <p class="output-message output--error">#springMessageText("idp.unlock-keys.error", "Unlock failed; check log for specific message.")</p>
                #end
            
                <form action="$flowExecutionUrl" method="post">
                    #parse("csrf/csrf.vm")
                  
                    <!--
                    If you have multiple key strategies defined, you'll need multiple pairs of form fields for
                    the passwords, labeled in the order they're fed into the shibboleth.unlock-keys.KeyStrategies
                    bean. If you have none, remove the fields.
                    -->

                    <fieldset>
                        <legend><span>Secret Key Passwords</span></legend>
                        
                        <label for="password">#springMessageText("idp.unlock-keys.keystorePassword", "DataSealer Keystore Password")</label>
                        <input type="password" name="keystorePassword" id="password" />
                        
                        <label for="password">#springMessageText("idp.unlock-keys.keyPassword", "DataSealer Key Password")</label>
                        <input type="password" name="keyPassword" id="password" />
                    </fieldset>

                    <!--
                    If you have multiple private keys defined, you'll need a form field for each passwords, labeled in the order
                    they're fed into the shibboleth.unlock-keys.Credentials/PrivateKeys beans. If you have none, remove the fields.
                    -->

                    <fieldset>
                        <legend><span>Private Key Passwords</span></legend>
                        
                        <label for="password">#springMessageText("idp.unlock-keys.privateKeyPassword", "Private Key Password")</label>
                        <input type="password" name="privateKeyPassword" id="password" />
                    </fieldset>
                  
                    <div class="grid md-2">
                        <div class="grid-item">
                            <button type="submit" name="_eventId_proceed">#springMessageText("idp.unlock-keys.unlock", "Unlock")</button>
                        </div>
                        
                        <div class="grid-item">
                            <button class="button--secondary button--full" type="submit" name="_eventId_cancel">#springMessageText("idp.unlock-keys.cancel", "Cancel")</button>
                        </div>
                    </div>
                </form>
            #end
            </section>
        </main>
        <footer class="footer">
            <div class="cc">
                <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
            </div>
        </footer>
    </body>
</html>