<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.opensaml" level="WARN" />
    <logger name="org.infinispan" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.testng" level="WARN" />
    
    <logger name="edu.internet2.middleware.shibboleth.idp.tou" level="DEBUG" />
    <logger name="Test" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>