<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite.tou" verbose="1">
    <parameter name="tou.schema" value="classpath:/schema.sql" />    
    
    <test name="tou" enabled="true">  
        <packages>       
            <package name="net.shibboleth.idp.tou"/>
        </packages>
    </test>
    
    <test name="tou.storage" enabled="true">  
        <packages>       
            <package name="net.shibboleth.idp.tou.storage"/>
        </packages>
    </test>

</suite>