<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level %-48.48(%logger{0}.%M) %3L - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="org.springframework" level="INFO"/>
  <logger name="org.opensaml" level="WARN"/>

  <logger name="edu.internet2.middleware.shibboleth.idp.consent" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>