<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>#springMessage("tou.title")</title>
</head>
<body>
    <h1>#springMessage("tou.title")</h1>
    <form name="terms-of-use" action="#springUrl("/tou")" method="post">
        <textarea name="text" rows="25" readonly="readonly">
            ${tou.text}
        </textarea>
				
	   <input type="checkbox" name="tou.accept" value="yes"/> #springMessage("tou.accept")
	   #springShowErrors(" " "")
	
	   <input type="submit" name="submit" value="#springMessage("tou.submit")" />
    </form>
</body>
</html>