<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>#springMessage("term-of-use.title")</title>
</head>
<body>
    <h1>#springMessage("term-of-use.title")</h1>
    <form name="terms-of-use" action="#springUrl("/userconsent/terms-of-use")" method="post">
        <textarea name="text" rows="25" readonly="readonly">
            ${term-of-use.text}
        </textarea>
				
	   <input type="checkbox" name="accept" value="#springMessage("term-of-use.accept")" />
	   #springShowErrors(" " "")
	
	   <input type="submit" name="submit" value="#springMessage("term-of-use.submit")" />
    </form>
</body>
</html>