<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UserConsentTestSuite" verbose="1">
    <parameter name="jdbcInitFile" value="file:src/main/resources/edu/internet2/middleware/shibboleth/idp/consent/hsqldb-init.sql" />    
    
    <test name="persistenceTests" enabled="true">  
        <classes>       
            <class name="edu.internet2.middleware.shibboleth.idp.consent.persistence.JDBCStorageTest"/>
        </classes>
    </test>

    <test name="componentTests" enabled="true">
        <packages>
            <package name="edu.internet2.middleware.shibboleth.idp.consent.components" />
        </packages>
    </test>

</suite>