<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
    default-init-method="initialize"
    default-destroy-method="destroy">

    <bean id="shibboleth.IdentifiableBeanPostProcessor"
        class="net.shibboleth.ext.spring.config.IdentifiableBeanPostProcessor" />

    <bean id="SAML2StringTranscoder"
        class="net.shibboleth.idp.saml.attribute.transcoding.impl.SAML2StringAttributeTranscoder" />
    <bean id="SAML2ScopedStringTranscoder"
        class="net.shibboleth.idp.saml.attribute.transcoding.impl.SAML2ScopedStringAttributeTranscoder" />
    <bean id="SAML2XMLObjectTranscoder"
        class="net.shibboleth.idp.saml.attribute.transcoding.impl.SAML2XMLObjectAttributeTranscoder" />

    <bean id="shibboleth.TranscodingRule"
        class="net.shibboleth.idp.attribute.transcoding.TranscodingRule" abstract="true" />

    <util:list id="DefaultAttributeRegistry">
    
        <bean parent="shibboleth.TranscodingRule">
            <constructor-arg>
		        <map>
		            <entry key="id" value="eduPersonAssurance" />
		            <entry key="transcoder" value-ref="SAML2StringTranscoder" />
		            <entry key="saml2.name" value="urn:oid:1.3.6.1.4.1.5923.1.1.1.11" />
		        </map>
            </constructor-arg>
        </bean>
        
        <bean parent="shibboleth.TranscodingRule">
            <constructor-arg>    
		        <map>
		            <entry key="id" value="eduPersonAssurance" />
		            <entry key="transcoder" value-ref="SAML2StringTranscoder" />
		            <entry key="saml2.name" value="http://example.org/name/for/Attribute" />
		            <entry key="saml2.nameFormat" value="http://example.org/Format" />
		        </map>
            </constructor-arg>
        </bean>

        <bean parent="shibboleth.TranscodingRule">
            <constructor-arg>    
		        <map>
		            <entry key="id" value="otherPersonAssurance" />
		            <entry key="transcoder" value-ref="SAML2StringTranscoder" />
		            <entry key="saml2.name" value="urn:oid:1.3.6.1.4.1.5923.1.1.1.11" />
		        </map>
            </constructor-arg>
        </bean>

        <bean parent="shibboleth.TranscodingRule">
            <constructor-arg>    
		        <map>
		            <entry key="id" value="eduPersonScopedAffiliation" />
		            <entry key="transcoder" value-ref="SAML2ScopedStringTranscoder" />
		            <entry key="saml2.scopeDelimiter" value="#" />
		            <entry key="saml2.name" value="urn:oid:1.3.6.1.4.1.5923.1.1.1.9" />
		        </map>
            </constructor-arg>
        </bean>

        <bean parent="shibboleth.TranscodingRule">
            <constructor-arg>    
		        <map>
		            <entry key="id" value="eduPersonTargetedID" />
		            <entry key="transcoder" value-ref="SAML2XMLObjectTranscoder" />
		            <entry key="saml2.name" value="urn:oid:1.3.6.1.4.1.5923.1.1.1.10" />
		        </map>
            </constructor-arg>
        </bean>

    </util:list>
	
    <bean id="SAML2NamingFunction" class="net.shibboleth.idp.attribute.transcoding.BasicNamingFunction"
            c:claz="org.opensaml.saml.saml2.core.Attribute">
        <constructor-arg name="function">
            <bean class="net.shibboleth.idp.saml.attribute.transcoding.AbstractSAML2AttributeTranscoder.NamingFunction" />
        </constructor-arg>
    </bean>

    <bean id="AttributeTranscoderRegistry" class="net.shibboleth.idp.attribute.transcoding.impl.AttributeTranscoderRegistryImpl"
        p:namingRegistry-ref="SAML2NamingFunction"
        p:transcoderRegistry-ref="DefaultAttributeRegistry" />
	
</beans>
