<?xml version="1.0" encoding="utf-8"?>
<!-- Licensed to the University Corporation for Advanced Internet
     Development, Inc. (UCAID) under one or more contributor license
     agreements.  See the NOTICE file distributed with this work for
     additional information regarding copyright ownership. The UCAID
     licenses this file to You under the Apache License, Version 2.0
     (the 'License'); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?define ServiceStart="auto"?>
    <?define ServiceName="shibd_idp"?>
    <Fragment>
        <DirectoryRef Id="PROCRUNROOT">
            <Directory Id="dir64" Name="amd64" />
            <Directory Id="procrunLogFolder" Name="log" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProcrunGroup">
            <Component Id="procrun_license" Directory="PROCRUNROOT" Guid="{03024B30-C81A-47D1-B52C-488A8786D5BF}">
                <File Id="file_procrun_license" KeyPath="yes" Source="$(var.ProcrunSrc)\LICENSE.txt" />
            </Component>
            <Component Id="procrun_notice" Directory="PROCRUNROOT" Guid="{6F141D2D-4138-40DD-85A0-FEFBF7BBE54F}">
                <File Id="file_procrun_notice" KeyPath="yes" Source="$(var.ProcrunSrc)\NOTICE.txt" />
            </Component>
            <Component Id="procrun_mgr" Directory="PROCRUNROOT" Guid="{68387254-C37C-4F6B-A4A6-8174BA1FE9FC}">
                <File Id="file_procrun_mgr" KeyPath="yes" Source="$(var.ProcrunSrc)\prunmgr.exe" Name="$(var.ServiceName)w.exe" />
            </Component>
            <Component Id="procrun_relnotes" Directory="PROCRUNROOT" Guid="{DBDBFF9F-D7D0-42B1-A992-87565473A1C7}">
                <File Id="procrun_relnotes" KeyPath="yes" Source="$(var.ProcrunSrc)\RELEASE-NOTES.txt" />
            </Component>
            <Component Id="procrun_permissions" Directory="PROCRUNROOT" Guid="{47F3846B-42DE-4B80-9F24-4F2831CF3AA9}" KeyPath="yes">
                 <RegistryKey ForceCreateOnInstall="yes" Key="SOFTWARE\Apache Software Foundation\Procrun 2.0\$(var.ServiceName)" Root="HKLM">
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericRead="yes" GenericExecute="yes" Read="yes" />
                 </RegistryKey>
                <CreateFolder Directory="procrunLogFolder">
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericAll="yes" />
                </CreateFolder>
            </Component>

            <!-- Install the service. -->

            <Component Id="procrun_service" Directory="dir64" Guid="{D5390673-A3C7-423A-975E-BB2684513ED0}">
                <Condition>VersionNT64 And Not Intel64</Condition>
                <File Id="file_procrun_AMD64_service" KeyPath="yes" Source="$(var.ProcrunSrc)\amd64\prunsrv.exe" Name="$(var.ServiceName).exe" />
                <ServiceInstall Id="ServiceX64" Name="$(var.ServiceName)" DisplayName="Shibboleth IdP Daemon" Description="Runs the Jetty Container"
                                Arguments="service $(var.ServiceName)" Type="ownProcess" Start="$(var.ServiceStart)" ErrorControl="ignore"
                                Account="[SERVICE_USER]" Password="[JETTYD_PASSWORD]">
                    <util:ServiceConfig FirstFailureActionType="none" SecondFailureActionType="none" ThirdFailureActionType="none"/>
                </ServiceInstall>
            </Component>
            <Component Id="procrun_Firewall" Directory="dir64" Guid="{305B9114-289B-4D9B-B616-73082D659067}" KeyPath="yes">
                 <Condition>NOT NO_FIREWALL And VersionNT64 And Not Intel64</Condition>
                 <fw:FirewallException Id="Win64Shibd_idp" Program="[#file_procrun_AMD64_service]" Name="Win64Shibd_idp" Description="The Shibboleth IdP Daemon" Protocol="tcp" Scope="any" />
            </Component>

            <!-- Configure the service -->

            <Component Id="ServiceParameters" Directory="PROCRUNROOT" Guid="{EBC566D8-0B22-4625-98E8-C8506A6892B5}" KeyPath="yes">
                <Condition>NOT Installed</Condition>
                <!-- Start component here - that way if the start fails the user will be prompted and things will continue with the service declared. -->
                <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SYSTEM\CurrentControlSet\services\$(var.ServiceName)\Parameters" Root="HKLM">
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericRead="yes" GenericExecute="yes" Read="yes" />
                </RegistryKey>
                <ServiceControl Id="controlService" Name="$(var.ServiceName)" Stop="install" Start="install" Wait="no" />
                <ServiceControl Id="controlServiceUninstall" Name="$(var.ServiceName)" Stop="uninstall" Remove="uninstall" Wait="yes" />
            </Component>
            <Component Id="StartParameters" Directory="PROCRUNROOT" Guid="{E9C5155E-F44D-4A10-9CEB-5CC2D683CD8A}" KeyPath="yes">
                <!-- ForceDeleteOnUninstall stops us accumulating Stop keys -->
                <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Apache Software Foundation\Procrun 2.0\$(var.ServiceName)\Parameters\Start" Root="HKLM">
                    <RegistryValue Name="Class" Value="org.eclipse.jetty.start.Main" Type="string"/>
                    <RegistryValue Name="Mode" Value="jvm" Type="string"/>
                    <RegistryValue Name="Params" Type="multiString" Action="append">
                        <MultiStringValue>STOP.PORT=8963</MultiStringValue>
                        <MultiStringValue>STOP.Key=[JETTY_PASS]</MultiStringValue>
                        <MultiStringValue>jetty.base=[IDP_INSTALLDIR]\jetty-base</MultiStringValue>
                        <MultiStringValue>jetty.logging.dir=[IDP_INSTALLDIR]\jetty-base\logs</MultiStringValue>
                    </RegistryValue>
                    <RegistryValue Name="WorkingPath" Type="string" Value="[IDP_INSTALLDIR]\jetty-base\"/>
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericRead="yes" GenericExecute="yes" Read="yes" />
                </RegistryKey>
            </Component>
            <Component Id="StopParameters" Directory="PROCRUNROOT" Guid="{F436CF79-B29E-45D7-B0D0-7181949CB9B3}" KeyPath="yes">
                <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Apache Software Foundation\Procrun 2.0\$(var.ServiceName)\Parameters\Stop" Root="HKLM">
                    <RegistryValue Name="Class" Value="org.eclipse.jetty.start.Main" Type="string"/>
                    <RegistryValue Name="Mode" Value="jvm" Type="string"/>
                    <RegistryValue Name="Params" Type="multiString" Action="append">
                        <MultiStringValue>--stop</MultiStringValue>
                        <MultiStringValue>STOP.PORT=8963</MultiStringValue>
                        <MultiStringValue>STOP.Key=[JETTY_PASS]</MultiStringValue>
                        <MultiStringValue>jetty.base=[IDP_INSTALLDIR]\jetty-base</MultiStringValue>
                        <MultiStringValue>jetty.logging.dir=[IDP_INSTALLDIR]\jetty-base\logs</MultiStringValue>
                    </RegistryValue>
                    <RegistryValue Name="WorkingPath" Type="string" Value="[IDP_INSTALLDIR]\jetty-base\"/>
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericRead="yes" GenericExecute="yes" Read="yes" />
                </RegistryKey>
            </Component>
            <Component Id="LogParameters" Directory="PROCRUNROOT" Guid="{4D3AD97F-9646-4399-B071-93AB48A4E4C1}" KeyPath="yes">
                <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Apache Software Foundation\Procrun 2.0\$(var.ServiceName)\Parameters\Log" Root="HKLM">
                    <RegistryValue Name="Path" Value="[PROCRUNROOT]\log" Type="string" />
                    <RegistryValue Name="StdError" Value="auto" Type="string" />
                    <RegistryValue Name="StdOutput" Value="auto" Type="string" />
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericRead="yes" GenericExecute="yes" Read="yes" />
                </RegistryKey>
            </Component>
            <Component Id="JavaParameters" Directory="PROCRUNROOT" Guid="{E7BF22CE-465C-4A77-B518-E13EEFF0A0BC}" KeyPath="yes">
                <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Apache Software Foundation\Procrun 2.0\$(var.ServiceName)\Parameters\Java" Root="HKLM">
                    <RegistryValue Name="JavaHome" Value="[%JAVA_HOME]" Type="string" />
                    <RegistryValue Name="Jvm" Value="auto" Type="string" />
                    <RegistryValue Name="Classpath" Value="[JETTYROOT]\start.jar" Type="string" />
		    <RegistryValue Name="Options" Type="multiString">
                        <MultiStringValue>-Didp.home=[JAVA_IDP_HOME]</MultiStringValue>
                        <MultiStringValue>-Djdk.tls.ephemeralDHKeySize=2048</MultiStringValue>
                        <MultiStringValue>-Dorg.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.Slf4jLog</MultiStringValue>
                        <MultiStringValue>-Djava.io.tmpdir=[JAVA_IDP_HOME]/jetty-base/tmp</MultiStringValue>
                        <MultiStringValue>-XX:+UseG1GC</MultiStringValue>
                    </RegistryValue>
                    <RegistryValue Name="JvmMx" Value="[JAVA_JVMMX]" Type="string">
                        <!-- Its an integer, but we added the # -->
		    </RegistryValue>
                    <Permission User="Administrators" GenericAll="yes" />
                    <Permission User="SYSTEM" GenericAll="yes" />
                    <Permission Domain="[JETTYD_DOMAIN]" User="[PERMISSION_USER]" GenericRead="yes" GenericExecute="yes" Read="yes" />
                </RegistryKey>
            </Component>
        </ComponentGroup>

	<Binary Id="PropertyWorkSrc" SourceFile="scripts\jetty_script.vbs" />
        <CustomAction Id="PropertyWork" BinaryKey="PropertyWorkSrc" VBScriptCall="" Execute="immediate" />
        <CustomAction Id="SetJavaJvmMx" Property="JAVA_JVMMX" Value="#2048" />

	<InstallExecuteSequence>
            <!-- Do/Do Not not start service -->
            <StartServices>(ALWAYS_START_SERVICE = "TRUE")</StartServices>
            <!-- Setup JAVA_IDP_HOME before we use it -->
            <Custom Action="PropertyWork" After="AppSearch" />
            <!-- Preserve Jetty parms -->
            <Custom Action="SetJavaJvmMx" After="AppSearch">(NOT Installed) AND (NOT JAVA_JVMMX)</Custom>
	</InstallExecuteSequence>


    </Fragment>
</Wix>
