<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the University Corporation for Advanced Internet
     Development, Inc. (UCAID) under one or more contributor license
     agreements.  See the NOTICE file distributed with this work for
     additional information regarding copyright ownership. The UCAID
     licenses this file to You under the Apache License, Version 2.0
     (the 'License'); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->

<?define UpgradeUUID="8d3bfb53-47ff-4cbc-9363-cbf9e46bedc4"?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Shibboleth IdP V4" Language="1033" Version="5.0.0.0" Manufacturer="The Shibboleth Consortium" UpgradeCode="$(var.UpgradeUUID)">
        <Package InstallerVersion="310" Compressed="yes" InstallScope="perMachine" Platform="x64" Description="Shibboleth IdP V4.2" Manufacturer="The Shibboleth Consortium" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
        <MediaTemplate EmbedCab="yes" />

        <Condition Message="C run time libraray not installed">UCRTBASE_DLL</Condition>

        <!-- Information for the properties page of the msi -->

        <Property Id="ARPCONTACT" Value="contact@shibboleth.net" />
        <Property Id="ARPHELPLINK" Value="https://wiki.shibboleth.net/confluence/display/IDP4/Installation#Installation-WindowsInstallation" />
        <Property Id="ARPURLUPDATEINFO" Value="https://wiki.shibboleth.net/confluence/display/IDP4/WindowsInstallation#WindowsInstallation-Upgrade" />
        <Property Id="ARPURLINFOABOUT" Value="http://shibboleth.net/" />
        <Property Id="ARPNOMODIFY" Value="TRUE" />

        <Feature Id="ProductFeature" Title="IdP" Level="1">
            <Feature Id="InstallJetty" Title="Jetty">
                <MergeRef Id="jetty" />
                <ComponentRef Id="JettyPermissions" />
                <ComponentRef Id="Shibd_idpw" />
            </Feature>
            <ComponentGroupRef Id="DeleteFiles" />
            <ComponentGroupRef Id="IdPGroup" />
            <ComponentGroupRef Id="SaveRegistry" />
            <ComponentRef Id="IdPPermissions" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CommonAppDataFolder">
                <Directory Id="ProgramDataShib" Name="Shibboleth">
                    <Directory Id="IDPDISTDIR" Name="IdP"/>
                </Directory>
            </Directory>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="SHIBBOLETHDIR" Name="Shibboleth">
                    <Merge Id="jetty" Language="1033" SourceFile="$(var.ProjectDir)\jetty-x64.msm" DiskId="1" />
                    <Directory Id="INSTALLDIR" Name="IdP">
                        <Directory Id="CredsFolder" Name="credentials" />
                        <Directory Id="ConfFolder" Name="conf" />
                        <Directory Id="LogsFolder" Name="logs" />
                        <Directory Id="JettyBaseFolder" Name="jetty-base">
                            <Directory Id="StartDotD" Name="start.d" />
                            <Directory Id="JettyLogs" Name="logs" />
                            <Directory Id="JettyTmp" Name="tmp" />
                        </Directory>
                        <Directory Id="BinFolder" Name="bin">
                            <Component Id="Shibd_idpw" Guid="{30E1130E-BEBF-4167-83A0-BBDE083968C4}" Win64="no">
                                <RegistryValue Id="Shibd_idpw_r" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="Shibd_idpw" Value="TRUE" Type="string" KeyPath="yes" />
                                <Shortcut Id="Shibd_idpw_shortcut" Name="shibd_idpw.exe" Target="[ProgramFilesFolder]\Shibboleth\Procrun\shibd_idpw.exe" />
                            </Component>
                        </Directory>
                        <Component Id="IdPPermissions" Guid="{5672474B-3CD2-44EB-9942-871844A2B089}" Win64="no">
                            <RegistryValue Id="SetPermissions" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="SetPermissions" Value="TRUE" Type="string" KeyPath="yes" />
                            <CreateFolder Directory="CredsFolder">
                                <Permission User="Administrators" GenericAll="yes" />
                                <Permission User="SYSTEM" GenericAll="yes" />
                                <Permission Domain="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" User="[PERMISSION_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]"
                                            ReadPermission="yes" GenericRead="yes" GenericExecute="yes" Read="yes" />
                            </CreateFolder>
                            <CreateFolder Directory="ConfFolder">
                                <Permission User="Administrators" GenericAll="yes" />
                                <Permission User="SYSTEM" GenericAll="yes" />
                                <Permission Domain="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" User="[PERMISSION_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]"
                                            ReadPermission="yes" Read="yes" GenericRead="yes" GenericExecute="yes" />
                            </CreateFolder>
                            <CreateFolder Directory="LogsFolder">
                                <Permission User="Administrators" GenericAll="yes" />
                                <Permission User="SYSTEM" GenericAll="yes" />
                                <Permission Domain="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" User="[PERMISSION_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]"
                                            GenericAll="yes"/>
                            </CreateFolder>

                        </Component>
                        <Component Id="JettyPermissions" Guid="{900980C5-CF3D-4816-9922-6142C12F6D13}" Win64="no">
                            <RegistryValue Id="SetPermissionsJetty" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="SetPermissionsJetty" Value="TRUE" Type="string" KeyPath="yes" />
                            <CreateFolder Directory="StartDotD">
                                <Permission User="Administrators" GenericAll="yes" />
                                <Permission User="SYSTEM" GenericAll="yes" />
                                <Permission Domain="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" User="[PERMISSION_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]"
                                            ReadPermission="yes" GenericRead="yes" Read="yes" GenericExecute="yes" />
                            </CreateFolder>
                            <CreateFolder Directory="JettyLogs">
                                <Permission User="Administrators" GenericAll="yes" />
                                <Permission User="SYSTEM" GenericAll="yes" />
                                <Permission Domain="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" User="[PERMISSION_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]"
                                            GenericAll="yes"/>
                            </CreateFolder>
                            <CreateFolder Directory="JettyTmp">
                                <Permission User="Administrators" GenericAll="yes" />
                                <Permission User="SYSTEM" GenericAll="yes" />
                                <Permission Domain="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" User="[PERMISSION_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]"
                                            GenericAll="yes"/>
                            </CreateFolder>
                       </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Property Id="JAVA_EXECUTABLE" Secure="yes">
            <DirectorySearch Id="JavaBinSearch" Depth="0" Path="[%JAVA_HOME]\bin">
                <FileSearch Id="JavaBinSearch" Name="java.exe" />
            </DirectorySearch>
        </Property>

        <Property Id="UCRTBASE_DLL" Secure="yes">
            <DirectorySearch Id="UcrtBaseSearch" Depth="0" Path="[System64Folder]">
                <FileSearch Id="UcrtnSearch" Name="ucrtbase.dll" />
            </DirectorySearch>
        </Property>

        <Property Id="ALWAYS_START_SERVICE" Value="TRUE" Secure="yes" />
        <CustomAction Id="PassdownStartService" Property="ALWAYS_START_SERVICE.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Value="[ALWAYS_START_SERVICE]" />

        <CustomAction Id="NoJavaBin" Error="Could not locate Java.exe.  Please check the value for JAVA_HOME." />

        <!-- Inherit the setup, if they were. -->
        <CustomAction Id="InheritInstallDir" Property="INSTALLDIR" Value="[OLD_INSTALLDIR]" />
        <CustomAction Id="InheritInstallJetty" Property="INSTALL_JETTY" Value="[OLD_INSTALL_JETTY]" />

        <!-- Pass the NO_FIREWALL_EXCEPTION parameter down to the Jetty Merge Module -->
        <CustomAction Id="PassdownNoFireWall" Property="NO_FIREWALL.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Value="[NO_FIREWALL_EXCEPTION]" />

        <!-- Other properties -->
        <CustomAction Id="SetDNSName" Property="DNSNAME" Value="[ComputerName]" />

        <Binary Id="WriteConfigFilesSrc" SourceFile="scripts\shib_write_configs.vbs" />
        <Binary Id="SetJavaIdpHomeSrc" SourceFile="scripts\shib_set_java_idp_home.vbs" />

        <CustomAction Id="WriteConfigFiles" BinaryKey="WriteConfigFilesSrc" VBScriptCall="" Execute="deferred" Impersonate="no" />
        <CustomAction Id="SetJavaIdpHome" BinaryKey="SetJavaIdpHomeSrc" VBScriptCall="" Execute="immediate" />
        <CustomAction Id="SetWriteConfigFiles" Property="WriteConfigFiles" Value="[INSTALLDIR];@;[DNSNAME];@;[INSTALL_JETTY];@;[IDP_SCOPE];@;[DEBUG_INSTALL];@;[CONFIGURE_AD];@;[AD_DOMAIN];@;[AD_USER];@;[AD_PASS];@;[AD_USE_GC]" />

        <CustomAction Id="SetDefaultInstallDir" Property="DefaultInstallDir" Value="[WindowsVolume]opt\shibboleth-idp\" />

        <!-- Ant actions set the command line in two parts because of ICE03 -->
        <CustomAction Id="SetIdpInstall1" Property="QtIdpInstall1" Value="&quot;[JAVA_EXECUTABLE]&quot; -cp &quot;[IDPDISTDIR]bin\lib\*;[IDPDISTDIR]webapp\WEB-INF\lib\*&quot; net.shibboleth.idp.installer.impl.IdPInstallerCLI"/>
        <CustomAction Id="SetIdpInstall2" Property="QtIdpInstall2" Value="--propertyFile &quot;[INSTALLDIR]idp.install.properties&quot; --sourceDir [IDPDISTDIR]" />
        <CustomAction Id="SetIdpInstall3" Property="QtIdpInstall" Value="[QtIdpInstall1] [QtIdpInstall2]" />
        <CustomAction Id="RunIdpInstall" Directory="ProgramFilesFolder" ExeCommand="[QtIdpInstall]" Execute="deferred" Impersonate="no" />
        <CustomAction Id="QtIdpInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <CustomAction Id="SetFinalizeJetty" Property="QtFinalizeJetty" Value="&quot;[JAVA_EXECUTABLE]&quot; -cp &quot;[IDPDISTDIR]\bin\lib\*;[IDPDISTDIR]\dist\webapp\WEB-INF\lib\*&quot; -Didp.home=[INSTALLDIR] net.shibboleth.idp.installer.impl.FinalizeJettyBase" />
        <CustomAction Id="RunFinalizeJetty" Directory="INSTALLDIR" ExeCommand="[QtFinalizeJetty]" Execute="deferred" Impersonate="no" />
        <CustomAction Id="QtFinalizeJetty" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <CustomAction Id="SetJavaJvmMx" Property="JAVA_JVMMX" Value="#2048" />

        <!-- Actions to add an appropriate ACE to existing file when we are running as a user -->
        <CustomAction Id="SetACEUser" Property="ACE_USER" Value="[JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]\[JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7]" />
        <CustomAction Id="SetACEConf" Property="QtSetACEConf" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[INSTALLDIR]\conf&quot; /e /t /g [ACE_USER]:r" />
        <CustomAction Id="SetACECreds" Property="QtSetACECreds" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[INSTALLDIR]\credentials&quot; /e /t /g [ACE_USER]:r" />
        <CustomAction Id="SetACELogs" Property="QtSetACELogs" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[INSTALLDIR]\logs&quot; /e /t /g [ACE_USER]:f" />

        <CustomAction Id="QtSetACEConf" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />
        <CustomAction Id="QtSetACECreds" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />
        <CustomAction Id="QtSetACELogs" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <CustomAction Id="SetACEJettyStart" Property="QtSetACEJettyStart" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[INSTALLDIR]\jetty-base\start.d&quot; /e /t /g [ACE_USER]:r" />
        <CustomAction Id="SetACEJettyLogs" Property="QtSetACEJettyLogs" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[INSTALLDIR]\jetty-base\logs&quot; /e /t /g [ACE_USER]:f" />
        <CustomAction Id="SetACEJettyTmp" Property="QtSetACEJettyTmp" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[INSTALLDIR]\jetty-base\tmp&quot; /e /t /g [ACE_USER]:f" />

        <CustomAction Id="QtSetACEJettyStart" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />
        <CustomAction Id="QtSetACEJettyLogs" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />
        <CustomAction Id="QtSetACEJettyTmp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <CustomAction Id="SetACEProcrunLog" Property="QtSetACEProcrunLog" Value="&quot;c:\Windows\System32\cacls.exe&quot; &quot;[SHIBBOLETHDIR]ProcRun\log&quot; /e /t /g [ACE_USER]:f" />
        <CustomAction Id="QtSetACEProcrunLog" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <InstallUISequence>

            <!-- inherit installationDir if there is something to inherit (Conditions set in ShibolethIdP-registry) -->
            <Custom Action="SetDefaultInstallDir" After="AppSearch" />
            <Custom Action="InheritInstallDir" After="AppSearch">OLD_INSTALLDIR</Custom>


            <!-- inherit JETTY_INSTALL if there is something to inherit AND JETTY_INSTALL was not passed in -->
            <Custom Action="InheritInstallJetty" After="AppSearch">OLD_INSTALL_JETTY AND NOT INSTALL_JETTY</Custom>

            <!-- Could we find JAVA.EXE ?-->
            <Custom Action="NoJavaBin" After="AppSearch">NOT JAVA_EXECUTABLE and NOT Installed</Custom>

            <Custom Action="SetDNSName" After="AppSearch">NOT DNSNAME</Custom>

        </InstallUISequence>

        <InstallExecuteSequence>

            <!-- Duplicate actions from the UI case - but only for auto 3->3 upgrades -->
            <Custom Action="InheritInstallDir" After="AppSearch">OLD_INSTALLDIR</Custom>

            <Custom Action="InheritInstallJetty" After="AppSearch">OLD_JETTY_INSTALL AND NOT JETTY_INSTALL</Custom>

            <!-- Pass across the instructions to Jetty-->
            <Custom Action="PassdownNoFireWall" After="AppSearch">NO_FIREWALL_EXCEPTION</Custom>
            <Custom Action="PassdownStartService" After="AppSearch"/>

            <!-- Do the ACE setting just after the directories -->
            <Custom Action="SetACEUser" After="CreateFolders">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>

            <Custom Action="SetACEConf"  After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="SetACECreds" After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="SetACELogs" After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>

            <Custom Action="QtSetACEConf" After="SetACEConf">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="QtSetACECreds" After="SetACECreds">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="QtSetACELogs" After="SetACELogs">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>

            <Custom Action="SetACEJettyStart" After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="SetACEJettyLogs" After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="SetACEJettyTmp" After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>

            <Custom Action="QtSetACEJettyStart"  After="SetACEJettyStart">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="QtSetACEJettyLogs"  After="SetACEJettyLogs">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="QtSetACEJettyTmp"  After="SetACEJettyTmp">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>

            <Custom Action="SetACEProcrunLog" After="SetACEUser">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>
            <Custom Action="QtSetACEProcrunLog"  After="SetACEProcrunLog">INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7</Custom>

            <!-- Setup JAVA_IDP_HOME before we use it -->

            <Custom Action="SetJavaIdpHome" Before="SetIdpInstall1" />

            <!-- Could we find JAVA.EXE ?-->
            <Custom Action="NoJavaBin" After="AppSearch">NOT JAVA_EXECUTABLE</Custom>
            <!-- Preserve Jetty parms -->
            <Custom Action="SetJavaJvmMx" After="AppSearch">(NOT Installed) AND INSTALL_JETTY AND (NOT JAVA_JVMMX)</Custom>

            <!-- Work -->

            <Custom Action="SetWriteConfigFiles" After="CostFinalize">NOT Installed</Custom>
            <Custom Action="WriteConfigFiles" After="InstallFiles">NOT Installed</Custom>
            <Custom Action="SetIdpInstall1" After="WriteConfigFiles">NOT Installed</Custom>
            <Custom Action="SetIdpInstall2" After="SetIdpInstall1">NOT Installed</Custom>
            <Custom Action="SetIdpInstall3" After="SetIdpInstall2">NOT Installed</Custom>
            <Custom Action="RunIdpInstall" After="SetIdpInstall3">(NOT Installed) AND DEBUG_INSTALL</Custom>
            <Custom Action="QtIdpInstall" After="SetIdpInstall3">(NOT Installed) AND (NOT DEBUG_INSTALL)</Custom>
            <Custom Action="SetFinalizeJetty" After="RunIdpInstall">(NOT Installed) AND INSTALL_JETTY</Custom>
            <Custom Action="RunFinalizeJetty" After="SetFinalizeJetty">(NOT Installed) AND INSTALL_JETTY AND DEBUG_INSTALL</Custom>
            <Custom Action="QtFinalizeJetty" After="SetFinalizeJetty">(NOT Installed) AND INSTALL_JETTY AND (NOT DEBUG_INSTALL)</Custom>

        </InstallExecuteSequence>

        <Upgrade Id="$(var.UpgradeUUID)">
            <UpgradeVersion ExcludeLanguages="yes" IncludeMaximum="yes" Maximum="127.255.255" Minimum="0.0.1" OnlyDetect="yes" Property="ALREADYINSTALLED" />
        </Upgrade>

        <UIRef Id="ShibbolethInstallDir" />
    </Product>
</Wix>
