<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!-- to do with the IdP Registry -->

    <?define ServiceName="shibd_idp"?>
    <Fragment>
        <ComponentGroup Id="SaveRegistry">
            <Component Id="SaveTarget" Guid="{32A39FB0-21E4-475E-891A-C9901D3548A3}" Directory="INSTALLDIR" Win64="no">
                <RegistryValue Id="targetReg" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
                <RegistryValue Id="targetRegJetty" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="InstallJetty" Value="[INSTALL_JETTY]" Type="string" />
            </Component>
            <!-- pretty icon for the "install programs" page -->
            <Component Id="shib.ico" Guid="{7F4CE60B-A27B-4E07-8DD9-19F16B008C56}" Directory="INSTALLDIR" Win64="yes">
                <File KeyPath="yes" Source="$(var.ProjectDir)\shib.ico" />
                <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayIcon" Value="[#shib.ico],0" Type="string" />
            </Component>
        </ComponentGroup>

        <Property Id="OLD_INSTALLDIR" Secure="yes">
            <RegistrySearch Id="OldInstallDir" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="InstallDir" Type="directory" Win64="no" />
        </Property>
        <Property Id="OLD_INSTALL_JETTY" Secure="yes">
            <RegistrySearch Id="OldInstallJetty" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="InstallJetty" Type="raw" Win64="no" />
        </Property>

        <Property Id="JAVA_JVMMX" Secure="yes">
            <RegistrySearch Id="JvmMx" Root="HKLM" Key="SOFTWARE\Apache Software Foundation\Procrun 2.0\shibd_idp\Parameters\Java" Name="JvmMx" Type="raw" Win64="no" />
        </Property>

	<!-- Should be in Mergemodule -->
        <Property Id="INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Secure="yes"/>
        <Property Id="JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Secure="yes"/>
        <Property Id="JETTYD_PASSWORD.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Secure="yes" Hidden="yes"/>
        <Property Id="OLD_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Secure="yes">
            <RegistrySearch Id="OldJettydUser" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="JettydUser" Type="raw" Win64="no" />
        </Property>
        <Property Id="OLD_JETTYD_DOMAIN.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Secure="yes">
            <RegistrySearch Id="OldJettydDomain" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="JettydDomain" Type="raw" Win64="no" />
        </Property>
        <Property Id="OLD_INSTALL_JETTYD_USER.684B3207_0D64_43E6_9E6A_3ACB8B7672D7" Secure="yes">
            <RegistrySearch Id="OldInstallJettydUser" Root="HKLM" Key="SOFTWARE\Shibboleth\IdP" Name="InstallJettydUser" Type="raw" Win64="no" />
        </Property>
    </Fragment>
</Wix>


