##
## Velocity Template for DisplayAttributeReleasePage view-state
##
## Velocity context will contain the following properties :
##
## attributeReleaseContext - context holding consentable attributes
## attributeReleaseFlowDescriptor - attribute consent flow descriptor
## attributeDisplayNameFunction - function to display attribute name
## consentContext - context representing the state of a consent flow
## encoder - HTMLEncoder class
## flowExecutionKey - SWF execution key (this is built into the flowExecutionUrl)
## flowExecutionUrl - form action location
## flowRequestContext - Spring Web Flow RequestContext
## profileRequestContext - OpenSAML profile request context
## request - HttpServletRequest
## response - HttpServletResponse
## rpUIContext - context with SP UI information from the metadata
##
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/consent.css"/>
        <title>#springMessage("idp.attribute-release.title")</title>
    </head>
    <body>
        <form action="$flowExecutionUrl" method="post" style="padding:10px" >
            <div class="box">
                <header>
                    <img src="$request.getContextPath()/images/federation-logo.png" alt="" class="federation_logo" />
                    #set ($rpOrganizationLogo = $rpUIContext.getLogo())
                    #if ($rpOrganizationLogo)
                        <img src="$encoder.encodeForHTMLAttribute($rpOrganizationLogo)" alt="logo for $encoder.encodeForHTMLAttribute($rpUIContext.getServiceName())" class="organization_logo" />
                    #end
                </header>
                <p style="margin-top: 70px;">
                    #springMessage("idp.attribute-release.serviceNameLabel")<br/>
                    <span class="service_name">$rpUIContext.serviceName</span>
                    #springMessage("idp.attribute-release.of") <span class="organization_name">$encoder.encodeForHTML($rpUIContext.organizationName)</span>
                </p>
                <p style="margin-top: 10px;">
                    #springMessage("idp.attribute-release.serviceDescriptionLabel")<br/>
                    <span class="service_description">$encoder.encodeForHTML($rpUIContext.serviceDescription)</span>
                    <br />
                </p>
                #set ($informationURL = $rpUIContext.informationURL)
                #if ($informationURL)
                    <p style="margin-top: 10px;">
                        <a href="$informationURL">#springMessage("idp.attribute-release.informationURLLabel")</a>
                    </p>
                #end
                <div id="attributeRelease" >
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">
                                    #springMessage("idp.attribute-release.attributesHeader")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($attribute in $attributeReleaseContext.getConsentableAttributes().values())
                                #if ($foreach.count % 2 == 0)
                                    #set ($rowStyle = "background-color:#E4E5E3;")
                                #else
                                    #set ($rowStyle = "")
                                #end
                                <tr style=$rowStyle>
                                    <td>$attributeDisplayNameFunction.apply($attribute)</td>
                                    <td>
                                        #foreach($value in $attribute.values)
                                            <strong>$value.value</strong>
                                            <br />
                                        #end
                                    </td>
                                    <td style="vertical-align: top">
                                        #if ($attributeReleaseFlowDescriptor.perAttributeConsentEnabled)
                                            #set ($inputType = "checkbox")
                                        #else
                                            #set ($inputType = "hidden")
                                        #end
                                        <input id="$attribute.id" type="$inputType" name="consentIds" value="$encoder.encodeForHTML($attribute.id)" checked />
                                    </td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                #set ($privacyStatementURL = $rpUIContext.privacyStatementURL)
                #if ($privacyStatementURL)
                    <p style="margin-top: 10px;">
                        <a href="$privacyStatementURL">#springMessage("idp.attribute-release.privacyStatementURLLabel")</a>
                    </p>
                #end
                <div style="float:left;">
                    <p>
                        #springMessage("idp.attribute-release.confirmationQuestion")
                    </p>
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <div id="generalConsentDiv" style="display: block; background-color: #F6F6F6;border: 1px gray solid; padding: 10px; width: 92%;">
                        #springMessage("idp.attribute-release.consentMethod")
                    #end
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed)
                        <p>
                            <input id="_idp_doNotRememberConsent" type="radio" name="_idp_consentOptions" value="_idp_doNotRememberConsent" />
                            #springMessage("idp.attribute-release.doNotRememberConsent")
                            <ul>
                                #foreach( $i in ["1", "2", "3"] )
                                    #set($message = $springMacroRequestContext.getMessage("idp.attribute-release.doNotRememberConsentItem$i"))
                                    #if("$message" != "")
                                        <li>$message</li>
                                    #end
                                #end 
                            </ul>
                        </p>
                    #end
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <p>
                            <input id="_idp_rememberConsent" type="radio" name="_idp_consentOptions" value="_idp_rememberConsent" checked />
                            #springMessage("idp.attribute-release.rememberConsent")
                            <ul>
                                #foreach( $i in ["1", "2", "3"] )
                                    #set($message = $springMacroRequestContext.getMessage("idp.attribute-release.rememberConsentItem$i"))
                                    #if("$message" != "")
                                        <li>$message</li>
                                    #end
                                #end
                            </ul>
                        </p>
                    #end
                    #if ($attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <p>
                            <input id="_idp_globalConsent" type="radio" name="_idp_consentOptions" value="_idp_globalConsent" />
                            #springMessage("idp.attribute-release.globalConsent")
                            <ul>
                                #foreach( $i in ["1", "2", "3"] )
                                    #set($message = $springMacroRequestContext.getMessage("idp.attribute-release.globalConsentItem$i"))
                                    #if("$message" != "")
                                        <li>$message</li>
                                    #end
                                #end
                            </ul>
                        </p>
                    #end
                    #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        #springMessage("idp.attribute-release.consentMethodRevoke")
                        </div>
                    #end
                    <p style="text-align: center;">
                        <input type="submit" name="_eventId_NoConsent" value="#springMessage("idp.attribute-release.reject")" style="margin-right: 30px;" />
                        <input type="submit" name="_eventId_proceed" value="#springMessage("idp.attribute-release.accept")" />
                    </p>
                </div>
            </div>
        </form>
    </body>
</html>
